.utterances {
    display: block;
    width: 100vw;
}

.utterances-wrap {
    display: flex;
    justify-content: center;
    margin: 24px auto;
}

.content {
    display: grid;
    grid-template-columns: 100%;
}

@media (min-width: 768px) {
    .utterances-wrap {
        margin-left: 240px;
        width: calc(100vw - 240px);
    }

    .content {
        grid-template-columns: 15% 70% 15%;
    }
}