.utterances {
    display: block;
    width: 100vw;
}

.utterances-wrap {
    display: flex;
    justify-content: center;
    margin: 24px auto;
}

.img-wrap {
    margin: 32px;
    width: 100%;
    max-height: min(700px, 100vh);
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .utterances-wrap {
        margin-left: 240px;
        width: calc(100vw - 240px);
    }
}