#post-summary-card {
    border: 2px solid rgb(99, 0, 165);
    padding: 10px;
    display: grid;
    grid-template-rows: 80px 1fr 40px;
    gap: 10px;
}

    #post-summary-card > header {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-auto-rows: 80px;
        gap: 10px;
    }

        #post-summary-card > header > #post-title {
            grid-column: 1;
        }

        #post-summary-card > header > #post-dates {
            grid-column: 2;
            display: grid;
            grid-template-rows: 1fr 1fr;
            gap: 10px;
        }

            #post-summary-card > header > #post-dates > #post-created-date {
                grid-row: 1;
            }

            #post-summary-card > header > #post-dates > #post-modified-date {
                grid-row: 2;
            }

    #post-summary-card > #card-contents {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 10px;
    }

        #post-summary-card > #card-contents > #card-image {
            grid-column: 1;
        }

            #post-summary-card > #card-contents > #card-image > #image-shape {
                width: 100%;
                padding-bottom: 100%;
            }

        #post-summary-card > #card-contents > #post-description {
            grid-column: 2;
        }
    
    #post-summary-card > footer {
        display: grid;
        grid-auto-rows: 40px;
    }
