@page "/"

<MetaTags description="여기저기서 긁어모은 잡다한 지식" route="/" pathImage="assets/images/City.png" />

<Link Href="styles/index.css" Rel="stylesheet" />

<div class="index-img-wrap">
    <div class="index-img-inner-wrap">
        <img srcset="assets/images/City.png 1920w,assets/images/City-1440w.png 1440w,assets/images/City-960w.png 960w,assets/images/City-480w.png 480w" alt="index-img">
    </div>
</div>
