@inherits LayoutComponentBase

<nav class="@NavMenuCssClass sidebar overlay-wrap" @onclick="ToggleNavMenu">
    <div>
        <ul>
            <li class="nav-item">
                <NavLink href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true" />
                    Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="machine-learning">
                    <span class="fas fa-robot" aria-hidden="true" />
                    Machine Learning
                </NavLink>
            </li>
        </ul>
    </div>
    <div class="overlay-1" />
</nav>

<main>
    <header class="top-row overlay-wrap">
        <a href="">어떤 프로그래머의 비망록</a>
        <button class="sidebar-toggler" aria-label="sidebar-toggler" @onclick="ToggleNavMenu">
            <span class="fas fa-bars" area-hidden="true" />
        </button>
        <div class="overlay-primary-1" />
    </header>

    <div class="@ContentCssClass content">
        @Body
    </div>

    <footer>

    </footer>
</main>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string ContentCssClass => collapseNavMenu ? null : "collapse";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
