@inherits LayoutComponentBase

<nav class="sidebar">
    <NavMenu />
</nav>

<main>
    <header class="top-row px-4 overlay-wrap">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        <div class="overlay-2" />
    </header>

    <div class="content px-4">
        @Body
    </div>

    <footer>

    </footer>
</main>
