<Link Rel="stylesheet" Href="css/post_card.css" />

<article id="post-summary-card">
    <header>
        <div id="post-title">
            <NavLink href="@path">@title</NavLink>
        </div>
        <div id="post-created-date"></div>
        <div id="post-modified-date"></div>
    </header>
    <div id="card-contents">
        <div id="card-image"></div>
        <div id="post-description">@description</div>
    </div>
    <footer>
        <div id="post-tags">@tags</div>
    </footer>
</article>

@code{
    [Parameter]
    public string path { get; set; }
    [Parameter]
    public string title { get; set; }
    [Parameter]
    public DateTime dateCreated { get; set; }
    [Parameter]
    public DateTime dateModified { get; set; }
    [Parameter]
    public string pathCardImage { get; set; }
    [Parameter]
    public string description { get; set; }
    [Parameter]
    public string tags { get; set; }
}
